@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: filter 0.5s ease-in-out;
}

html.dark {
  filter: brightness(0.9) saturate(0.9);
}

::-webkit-scrollbar {
  display: none;
}

.custom-container {
  max-width: 1200px;
}

.custom-card {
  height: 150px;
}

.transparent {
  opacity: 0.8;
}

.transparentOff {
  opacity: 1.0;
}

.background-image {
  position: relative;
}

.background-image::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url("/images/maps.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
  border-radius: inherit;
  transition: filter 0.5s ease-in-out;
}

.dark .background-image::before {
  filter: invert(1) hue-rotate(180deg) brightness(0.85) contrast(0.9);
}

.weather-card {
  background-image: url('/images/cloud.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}